{% extends 'base.html' %}

{% block content %}
    <h1 class="header center light flow-text">
        Dike는 어렵게 쓰여진 판결문을 크라우드소싱을 통해 일반인도 읽기 쉽게 만들어주는 플랫폼입니다.
    </h1>
    <h1 class="header center light flow-text">
        Dike는 총 4단계를 거쳐서 판결문을 쉽게 바꿉니다.
    </h1>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                1. 나누기
            </div>
            <div class="collapsible-body">
                <span>긴 문장을 적절한 길이로 나누어 주세요. 단어와 단어 사이를 클릭하면 문장이 나누어집니다.</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                2. 다듬기
            </div>
            <div class="collapsible-body">
                <span>잘려져있는 글조각들을 각각 완성된 문장으로 바꿔주세요.</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                3. 잇기
            </div>
            <div class="collapsible-body">
                <span>문장들을 다듬어 문장들이 서로 연결되어 읽히게 고쳐주세요.</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"> 4. 교정하기</div>
            <div class="collapsible-body">
                <span>단어를 다듬어 의미가 더 쉽게 이해되도록 고쳐주세요.</span>
            </div>
        </li>
    </ul>

    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}
