{% extends 'base.html' %}

{% block content %}
<ul class="pagination">
    <li class="waves-effect disabled"><a href="#!">나누기</a></li>
    <li class="waves-effect disabled"><a href="#!">다듬기</a></li>
    <li class="waves-effect disabled"><a href="#!">연결하기</a></li>
    <li class="active"><a href="#!">교정하기</a></li>
</ul>
<div class="card-panel teal">
    <span class="white-text">
        단어를 다듬어 의미가 더 쉽게 이해되도록 고쳐주세요
    </span>
</div>
<div id="app">
    <explain-component :prevstep="connectedSentence"></explain-component>
</div>

{% verbatim %}
<template id="explain-template">
    <div>
        <div v-for="p in phrases" class="row">
            <div class="col s6 original">
                <span>{{p.before}}</span>
            </div>
            <div class="input-field col s6">
                <textarea class="materialize-textarea" v-model="p.after"></textarea>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action" v-on:click="submit()">Submit
                <i class="material-icons right">send</i>
        </button>
    </div>
</template>
{% endverbatim %}

<style>
.row .original {
    margin-top: 28px;
}
</style>

<script>
var Explain = {
    template: '#explain-template',
    props: { prevstep: Object },
    data: function() {
        return {
            phrases: this.prevstep.result.map(p => ({
                before: p,
                after: p
            }))
        }
    },
    methods: {
        submit: function() {
            var payload = {
                sentence_id: this.prevstep.sentence_id,
                parent_step_id: this.prevstep.id,
                result: this.phrases.map(p => p.after)
            }
            $.ajax({
                type: 'POST',
                url: '/step/3/',
                data: JSON.stringify(payload),
                success: function(data) {
                    window.location.href = data.redirect
                }
            })
        }
    }
}

var step2edit = {{ json_resp|safe }}
new Vue({
    el: '#app',
    components: { 'explain-component': Explain },
    data: { connectedSentence: step2edit },
})
</script>

{% endblock %}
