{% extends 'base.html' %}

{% block content %}
<h1 class="header center light flow-text">
    Dike는 크라우드소싱을 통해서 판결문을 읽기 쉽게 만들어주는 플랫폼입니다.
</h1>
<div class="row">
    <div class="col m8 offset-m2 s12">
        <div id="app">
            <list-component></list-component>
            <stats-component></stats-component>
        </div>
    </div>
</div>

{% verbatim %}
<template id='list'>
    <ul class='collection with-header'>
        <li class="collection-header"><span class="light">가독성을 개선할 판결문을 선택해주세요</span></li>
        <a v-for='j in judgements' class='collection-item' :href="`/judgement/${j.id}`">
            {{ j.title }}
        </a>
    </ul>
</template>

<template id='stats'>
    <ul class='collection with-header'>
        <li class="collection-header"><span class="light">개선 통계를 확인할 판결문을 선택해주세요</span></li>
        <a v-for='j in judgements' class='collection-item' :href="`/stats/${j.id}`">
            {{ j.title }}
        </a>
    </ul>
</template>
{% endverbatim %}

<style>
.my-style-bold {
    font-weight: 500;
}
.collection-header {
    font-size: 16px;
}

</style>

<script>
    // Fill json string using django
    var judgements = {{ json_resp|safe }}
    // var sample_list = [{
    //         'id': 1,
    //         'title': '기성회비 반환'
    //     },
    //     {
    //         'id': 2,
    //         'title': '삼성 전환사채'
    //     }
    // ]

    Vue.component('list-component', {
        template: '#list',
        data: () => ({
            judgements: judgements
        }),
    })

    Vue.component('stats-component', {
        template: '#stats',
        data: () => ({
            judgements: judgements
        }),
    })

    new Vue({
        el: '#app',
    })

</script>
{% endblock %}
