{% extends 'base.html' %}

{% block content %}
<div id="app">
    <viewer-component></viewer-component>
</div>

{% verbatim %}
<template id='viewer'>
    <div>
        <h3 style="text-align: center">
            {{ judgement.title }}
        </h3>
        <blockquote>
            {{ judgement.desc }}
        </blockquote>
        <div :style="viewerStyle" class="flow-text">
            <a v-for="s in judgement.sentences" :href="`/sentence/${s.id}`">
                <p class="sentence">{{s.text}}</p>
            </a>
        </div>
    </div>
</template>
{% endverbatim %}

<style>
.sentence {
    font-size: smaller;
}

.sentence:hover {
    background-color: #e2f6ff;
}
</style>

<script>
    var sampleJudgement = {{ json_resp|safe }}

    Vue.component('viewer-component', {
        template: '#viewer',
        data: () => ({
            judgement: sampleJudgement,
            viewerStyle: {
                lineHeight: 2,
            },
        }),
    })

    new Vue({
        el: '#app',
    })
</script>
{% endblock %}
