{% extends 'base.html' %}

{% block content %}
<div id="app">
    <viewer-component></viewer-component>
</div>

{% verbatim %}
<template id='viewer'>
    <div>
        <h3 style="text-align: center">
            {{ judgement.title }}
        </h3>
        <blockquote>
            {{ judgement.desc }}
        </blockquote>
        <div :style="viewerStyle" class="flow-text">
            <a v-for="s in judgement.sentences" :href="`/sentence/${s.id}`">
                <p class="sentence">{{s.text}}</p>
            </a>
        </div>
    </div>
</template>
{% endverbatim %}

<style>
.sentence {
    font-size: smaller;
}

.sentence:hover {
    background-color: #e2f6ff;
}
</style>

<script>
    var sampleJudgement = {{ json_resp|safe }}

    Vue.component('viewer-component', {
        template: '#viewer',
        data: () => ({
            judgement: sampleJudgement,
            viewerStyle: {
                lineHeight: 2,
            },
        }),
    })

    new Vue({
        el: '#app',
    })

    function get_param(name) {
        var name_encoded = encodeURIComponent(name);
        if(name=(new RegExp(`[?&]${name_encoded}=([^&]*)`)).exec(location.search)){
            return decodeURIComponent(name[1]);
        }
    }

    var complete = get_param('complete')
    if(complete == 'already') {
        alert('더 이상 수정이 불가능한 문장입니다. 다른 문장을 개선해주세요.');
    } else if (complete == 'completed') {
        alert('수정이 완료되었습니다.');
    }

</script>
{% endblock %}
