{% extends 'base.html' %}

{% block content %}
<ul class="pagination">
    <li class="active"><a href="#!">나누기</a></li>
    <li class="waves-effect disabled"><a href="#!">다듬기</a></li>
    <li class="waves-effect disabled"><a href="#!">연결하기</a></li>
    <li class="waves-effect disabled"><a href="#!">교정하기</a></li>
</ul>

<div class="card-panel teal">
    <span class="white-text">
        긴 문장을 적절한 길이로 나누어 주세요. 단어와 단어 사이를 클릭하면 문장이 나누어집니다.
    </span>
</div>

<div id="app">
    <split-component :sentence="sentosplit"></split-component>
</div>

{% verbatim %}
<template id='splitter'>
<div>
    <div>
        <span v-for="c in chars">
            <span v-if="c.type === 'word'">
                {{c.text}}
            </span>
            <span
                v-else
                class="splitmark"
                v-on:click="toggle(c.index)"
                v-bind:class="{'marked': splitPoints.includes(c.index)}"
            >
                &nbsp
            </span>
        </span>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action" v-on:click="submit()">Submit
        <i class="material-icons right">send</i>
    </button>
</div>
</template>
{% endverbatim %}

<style>
.splitmark {
    cursor: pointer;
}

.splitmark.marked {
    background-color: orange;
}

.splitmark:hover {
    background-color: orange;
    opacity: 0.3;
}
</style>

<script src="/static/js/constants.js"></script>
<script>
    var sentence2edit = {{ json_resp|safe }}
    /*
    var sentence2edit = {
        id: 1,
        text: sampleLongSentence
    }
    */

    var Splitter = {
        template: '#splitter',
        props: { sentence: Object },
        data: function () {
            return {
                chars: this.sentence.text.split(' ').reduce((acc, cur, index) => {
                    return acc.concat([{ type: 'word', text: cur }, { type: 'space', text: '_', index } ])
                }, []),
                splitPoints: [],
            }
        },
        methods: {
            toggle: function(pos) {
                index = this.splitPoints.indexOf(pos) // vue reactivity system does not support set
                if (index === -1)
                    this.splitPoints.push(pos)
                else
                    this.splitPoints.splice(index, 1)
                console.log(this.splitPoints)
            },
            submit: function() {
                var splitted = []
                var current = []
                var words = this.sampleSentence.text.split(' ')
                for (var i = 0; i < words; i++) {
                    current.append(words[i])
                    if (this.splitPoints.includes(i))
                        splitted.append(current.join(" "))
                        current = []
                }
                //TODO: AJAX POST using django's token
                postToDjango({
                    sentences: splitted,
                    parent: this.sentence.id,
                    splitPoints: this.splitPoints,
                })
            }
        },
    }

    new Vue({
        el: '#app',
        components: {
            'split-component': Splitter,
        },
        data: {
            sentosplit: sentence2edit
        }
    })
</script>
{% endblock %}
