{% extends 'base.html' %}

{% block content %}
<div class="card-panel teal">
    <span class="white-text">
        다음 중 가독성이 더 높은 문장 분할을 선택해주세요
    </span>
</div>
<div id="app">
    <vote-component
    :step1="step1"
    :step2="step2"
    ></vote-component>
</div>

{% verbatim %}
<template id="vote-template">
    <div class="row">
        <div class="col s6">
            <p>
                <input type="radio" id="one" value="left" v-model="selected" />
                <label for="one">첫번째 분할</label>
            </p>
            <p v-for="p in step2.result">
                {{p}}
            </p>
        </div>
        <div class="col s6">
            <p>
                <input type="radio" id="second" value="right" v-model="selected"/>
                <label for="second">두번째 분할</label>
            </p>
            <p v-for="p in step1.result">
                {{p}}
            </p>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" v-on:click="submit()">Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
</template>
{% endverbatim%}

<script>
var Voter = {
    template: '#vote-template',
    props: {
        step1: Object,
        step2: Object,
    },
    data: function() { return {
        selected: "left",
    }},
    methods: {
        submit: function() {
            var payload = {
                step_id: this.selected === "left" ? this.step1.id : this.step2.id
            }
            $.ajax({
                type: 'POST',
                url: '/vote',
                data: JSON.stringify(payload),
                success: function(data) {
                    window.location.href = data.redirect
                }
            })
        }
    }
}

var step1 = {{ step1|safe }}
var step2 = {{ step2|safe }}
new Vue({
    el: '#app',
    components: { 'vote-component': Voter },
    data: {
        step1: step1,
        step2: step2
    }
})
</script>
{% endblock %}

